/* Concernant les breakpoints, nous avons convenu avec le designer UI
d’utiliser 992 px et 768 px.
992 px pour les écrans d’ordinateurs et 768 px pour les tablettes, et
tout ce qui est en dessous de 768 pour les téléphones portables */

:root {
    --blue-color: #0065FC;
    --light-blue-color: #DEEBFF;
    --gray-color: #F2F2F2;
}

body {
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 0 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 136px;
    margin-left: 20px;
    margin-bottom: 15px;
}

header img {
    width: 50%;
}

header li {
    padding: 47px 30px;
    border-top: transparent solid 3px;
}

header ul {
    display: flex;
}

header li.active, header li:hover {
    border-top: var(--blue-color) solid 3px;
    color: var(--blue-color);
}

header a:hover, header li.active>a {
    color: var(--blue-color);
}

header {
    height: 100%;
}

/* setting responsiveness on phone screene */

@media(max-width: 768px) {
    body {
        margin: 0;
    }
    header {
        display: block;
        height: inherit;
        margin: 0;
    }
    header img {
        width: 35%;
        margin: 24px 0;
    }
    header nav {
        height: 25px;
    }
    header li {
        border-top: none;
        padding: 0;
        border-bottom: var(--gray-color) solid 3px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    header li.active, header li:hover {
        border-top: none;
        border-bottom: var(--blue-color) solid 3px;
    }
    header ul {
        height: 100%;
    }
    header>a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}