/* Concernant les breakpoints, nous avons convenu avec le designer UI
d’utiliser 992 px et 768 px.
992 px pour les écrans d’ordinateurs et 768 px pour les tablettes, et
tout ce qui est en dessous de 768 pour les téléphones portables */

:root {
    --blue-color: #0065FC;
    --light-blue-color: #DEEBFF;
    --gray-color: #F2F2F2;
}

body {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 13px;
}
a:hover{
    color: var(--blue-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-left: 20px;
    margin-bottom: 5px;
}

header img {
    width: 40%;
}

header nav {
    height: 100%;
}

header li {
    padding: 47px 30px;
    border-top: transparent solid 3px;
}

header ul {
    display: flex;
}

header li.active, header li:hover {
    border-top: var(--blue-color) solid 3px;
    color: var(--blue-color);
}

header a:hover, header li.active>a, #all-accommodations #read-more:hover {
    color: var(--blue-color);
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
    font-size: 135%;
    line-height: 20px;
}

h1, h2 {
    margin-bottom: 8px;
}

#content, header {
    margin: 0 40px;
}

#search-form p {
    margin-bottom: 14px;
}

/* search form */

.form-group {
    display: flex;
    height: 40px;
    font-size: 16px;
    margin: 22px 0;
}

#search-form .fa-map-marker {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--gray-color);
    height: 100%;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-form button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--blue-color);
    color: #fff;
    padding: 0 10px;
}

#search-form #search-icon {
    display: none;
}

#search-form #search {
    display: block;
}

#search-form input[type=text] {
    padding-left: 10px;
}
#search-form input[type=text]:hover {
    /* border: 2px solid var(--blue-color); */
    outline: none;
}


fa, input, button {
    height: 100%;
    border: 1px solid var(--gray-color);
    font-weight: bold;
}

/* search filter* */

#filter-section {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

#search-filter {
    display: flex;
    align-items: center;
    font-size: 110%;
    flex-wrap: wrap;
}

#search-filter .filter {
    margin-right: 15px;
    margin-top: 0;
    border-radius: 27px;
    border: solid 3px var(--gray-color);
    height: 100%;
}

#search-filter .filter span {
    text-transform: capitalize;
    padding-left: 10px;
    padding-right: 17px;
}

#search-filter .filter:hover {
    background-color: var(--blue-color);
    cursor: pointer;
    color: #fff;
    font-weight: 100;
}

#search-filter i {
    padding: 8px;
    margin-left: -3px;
    border-radius: 50%;
    background-color: var(--light-blue-color);
    color: var(--blue-color);
    height: 100%;
    width: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#filter-section div#filter-section-title {
    margin-right: 15px;
}

#info-section {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
}

#info-section .fa-info {
    color: var(--blue-color);
    padding: 0px;
    border-radius: 50%;
    border: solid 3px var(--gray-color);
    margin-right: 7px;
    font-size: 12px;
    margin-top: -5px;
    width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#accommodation-section {
    margin-top: 35px;
    height: 630px;
    display: flex;
    justify-content: space-between;
}

/* #all-accommodations content */

.section-title {
    font-size: 130%;
    font-weight: bold;
}

#all-accommodations {
    background-color: var(--gray-color);
    min-height: 50px;
    width: 65%;
    padding: 25px;
    border-radius: 15px;
}

.accommodation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accommodation {
    width: 30%;
    border: solid #fff 5px;
    border-radius: 15px;
    margin-top: 25px;
}

.accommodation:hover, .activity-item:hover, button:hover {
    color: blue;
    -webkit-filter: opacity(0.8);
    -moz-filter: opacity(0.8);
    -o-filter: opacity(0.8);
    -ms-filter: opacity(0.8);
    filter: opacity(0.8);
    cursor: pointer;
}

.accommodation-picture {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    height: 125px;
    width: 100%;
}

.accommodation-details {
    padding: 10px;
    background-color: #fff;
}

.accommodation-details p {
    line-height: 20px;
}

i.full-star {
    color: var(--blue-color);
}

i.empty-star {
    color: var(--gray-color);
}

#all-accommodations #read-more {
    display: block;
    padding-top: 35px;
}


/* aside :famous accommodation section */

aside {
    width: 32%;
    background-color: var(--gray-color);
    padding: 25px;
    border-radius: 15px;
    height: 100%;
}

#aside-title {
    display: flex;
    justify-content: space-between
}

#aside-title i {
    color: black;
    font-size: 120%;
}
aside .accommodation{
    width: 100%;
}

aside .accommodation a {
    width: 100%;
    height: 154px;
    display: flex;
}

aside .accommodation-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    padding-left: 3%;
    padding-right: 3%;
}

aside .accommodation-picture {
    border-radius: 15px 0 0 15px;
    height: 100%;
}

aside .picture-container {
    width: 45%;
}

aside .accommodation-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* activities section */

#activities {
    margin-top: 50px;
}

#activities #activities-list {
    height: 410px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.activity-column {
    width: 23%
}

/* .picture-container{
    object-fit: cover;
} */

#activities #activities-list .column-stretch {
    height: 100%;
    border-radius: 20px;
}

#activities #activities-list .activity-picture {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    height: calc( 100% - 60px);
    width: 100%;
    /* height: auto ; */
}

#activities #second-column, #activities #fourth-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activities #second-column .first-element {
    height: 205px;
    border-radius: 20px;
}

#activities #second-column .second-element {
    height: 175px;
    border-radius: 20px;
}

#activities #fourth-column .first-element {
    height: 165px;
    border-radius: 20px;
}

#activities #fourth-column .second-element {
    height: 205px;
    border-radius: 20px;
}

.activity-title {
    padding: 15px;
    display: flex;
    align-items: center;
}

footer {
    background-color: var(--gray-color);
    padding: 1px 40px 42px;
    display: flex;
    margin-top: 50px;
}

footer .column {
    width: 33%
}

footer .column p:first-of-type {
    font-size: 120%;
    padding-bottom: 14px;
    margin-top: 53px;
}

footer p, footer li {
    margin-top: 17px;
}


/* setting responsiveness on tablet's screen */

@media screen and (min-width:768px) and (max-width:991px) {
    /* filter section */
    #filter-section {
        display: block;
    }
    #filter-section div#filter-section-title {
        margin-bottom: 15px;
    }
    #search-filter .filter {
        margin-bottom: 15px;
    }
    #accommodation-section {
        height: auto;
        display: block
    }
    #all-accommodations {
        width: 100%;
    }
    .accommodation {
        width: 32%;
    }
    aside {
        width: 100%;
        margin-top: 20px;
    }
    aside .accommodation-list {
        flex-direction: row;
    }
    aside .accommodation {
        width: 30%;
    }
}

/*  */

/* setting responsiveness on phone's screen */

@media screen and (max-width: 767px) {
    body {
        margin: 0;
        font-size: 115%;
    }
    header {
        display: block;
        height: inherit;
        margin-left: 0;
        margin-bottom: 40px;
    }
    header img {
        width: 25%;
        margin: 15px 0;
    }
    header nav {
        height: 47px;
    }
    header li {
        border-top: none;
        padding: 0;
        border-bottom: var(--gray-color) solid 3px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    header li.active, header li:hover {
        border-top: none;
        border-bottom: var(--blue-color) solid 3px;
    }
    header ul {
        height: 100%;
    }
    header>a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #content-header {
        margin: 18px;
    }
    #content, header {
        margin: 0;
    }
    .form-group {
        height: 58px;
    }
    #search-form #search {
        display: none;
    }
    #search-form #search-icon {
        display: block;
        width: 17%;
        border-radius: 20px;
    }
    #search-form .fa-map-marker {
        width: 17%;
    }
    #search-form input[type="text"] {
        width: 66%;
        font-size: 125%;
    }
    h1 {
        font-size: 141%;
        line-height: 26px;
        margin-bottom: 24px;
    }
    #search-form p {
        margin-bottom: 40px;
    }
    /* filter section */
    #filter-section {
        display: block;
    }
    #filter-section div#filter-section-title {
        margin-right: 15px;
        margin-bottom: 15px;
    }
    #search-filter .filter {
        margin-bottom: 15px;
    }
    #search-filter .filter span {
        padding-left: 4px;
        padding-right: 13px;
    }
    #accommodation-section {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    #all-accommodations {
        width: 100%;
        margin: 39px 0 0 0;
        background-color: transparent;
        border-radius: 0;
        order: 2;
    }
    .accommodation {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top: 30px;
    }
    .accommodation-details p {
        line-height: 23px;
    }
    aside {
        width: 100%;
        order: 1;
        border-radius: 0;
    }
    #activities {
        padding: 25px;
    }
    #activities #activities-list {
        display: block;
        height: auto;
    }
    #activities #activities-list .activity-column {
        display: block;
        width: 100%;
    }
    #activities #activities-list .activity-item {
        height: 195px;
        margin-top: 25px;
    }
    footer {
        display: block;
    }
    footer .column {
        width: 100%;
    }
    footer .column p:first-of-type {
        padding-bottom: 14px;
        margin-top: 43px;
    }
    footer p, footer li {
        margin-top: 13px;
        font-size: 90%;
    }
}